.container_footer {
  background-color: rgb(125, 154, 196);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  width: 295px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.container_footer button {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
}
